@import url(https://fonts.googleapis.com/css?family=Arimo:400,400italic|Playfair+Display+SC:400,700&subset=latin,cyrillic);

*{
    margin: 0;
}
body{
    background-image: url("https://66.media.tumblr.com/bda991956401f7135565097b7651c4e3/tumblr_ouztgbH0CG1vj8v9mo2_1280.png");
    
    
}
.header{
    display: flex;
    padding-top: 10px;
    padding-bottom: 20px;
   }

img{
    margin: auto;
    width: 30vw;
}
.settings{
    box-sizing: border-box;
    padding: 43px 50px;
    height: 350px;
    width: 1575px;
    background: url("settings-back.png");
    font-size: 24px;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
}
.menu-text{
  font-family: 'Playfair Display SC', serif;
  font-weight: 50;
  letter-spacing: 1px;
  font-size: 15px;
  color: #fedcbd;
  text-align: center;
  margin: auto;
}
  .formbord {
  display: inline-block;
  box-sizing: border-box;
  background-size: cover;
  background-image: url("formback.png");
  color: #fedcbd;
  }
  .formbord-input {
    outline: none;
    padding-left: 15px;
    margin: 6px;
    width: 380px;
    height: 35px;
    border-style: none;
    background: -moz-linear-gradient(top, rgba(175,129,102,0.3) 0%, rgba(50,45,42,0.3) 15%, rgba(50,45,42,0.3) 25%, rgba(50,45,42,0.3) 79%, rgba(50,45,42,0.3) 86%, rgba(175,129,102,0.3) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(175,129,102,0.3)), color-stop(15%, rgba(50,45,42,0.3)), color-stop(25%, rgba(50,45,42,0.3)), color-stop(79%, rgba(50,45,42,0.7)), color-stop(86%, rgba(50,45,42,0.7)), color-stop(100%, rgba(175,129,102,0.7)));
    background: -webkit-linear-gradient(top, rgba(175,129,102,0.3) 0%, rgba(50,45,42,0.3) 15%, rgba(50,45,42,0.3) 25%, rgba(50,45,42,0.3) 79%, rgba(50,45,42,0.3) 86%, rgba(175,129,102,0.3) 100%);
    background: -o-linear-gradient(top, rgba(175,129,102,0.3) 0%, rgba(50,45,42,0.3) 15%, rgba(50,45,42,0.3) 25%, rgba(50,45,42,0.3) 79%, rgba(50,45,42,0.3) 86%, rgba(175,129,102,0.3) 100%);
    background: -ms-linear-gradient(top, rgba(175,129,102,0.3) 0%, rgba(50,45,42,0.3) 15%, rgba(50,45,42,0.3) 25%, rgba(50,45,42,0.3) 79%, rgba(50,45,42,0.3) 86%, rgba(175,129,102,0.3) 100%);
    background: linear-gradient(to bottom, rgba(175,129,102,0.3) 0%, rgba(50,45,42,0.3) 15%, rgba(50,45,42,0.3) 25%, rgba(50,45,42,0.3) 79%, rgba(50,45,42,0.3) 86%, rgba(175,129,102,0.3) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#af8166', endColorstr='#af8166', GradientType=0 );
    text-align: left;
  }
  .formbord-input:focus{
    background: -moz-linear-gradient(top, rgba(175,129,102,0) 0%, rgba(50,45,42,0) 15%, rgba(50,45,42,0) 25%, rgba(50,45,42,0) 79%, rgba(50,45,42,0) 86%, rgba(175,129,102,0) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(175,129,102,0)), color-stop(15%, rgba(50,45,42,0)), color-stop(25%, rgba(50,45,42,0)), color-stop(79%, rgba(50,45,42,0)), color-stop(86%, rgba(50,45,42,0)), color-stop(100%, rgba(175,129,102,0)));
    background: -webkit-linear-gradient(top, rgba(175,129,102,0) 0%, rgba(50,45,42,0) 15%, rgba(50,45,42,0) 25%, rgba(50,45,42,0) 79%, rgba(50,45,42,0) 86%, rgba(175,129,102,0) 100%);
    background: -o-linear-gradient(top, rgba(175,129,102,0) 0%, rgba(50,45,42,0) 15%, rgba(50,45,42,0) 25%, rgba(50,45,42,0) 79%, rgba(50,45,42,0) 86%, rgba(175,129,102,0) 100%);
    background: -ms-linear-gradient(top, rgba(175,129,102,0) 0%, rgba(50,45,42,0) 15%, rgba(50,45,42,0) 25%, rgba(50,45,42,0) 79%, rgba(50,45,42,0) 86%, rgba(175,129,102,0) 100%);
    background: linear-gradient(to bottom, rgba(175,129,102,0) 0%, rgba(50,45,42,0) 15%, rgba(50,45,42,0) 25%, rgba(50,45,42,0) 79%, rgba(50,45,42,0) 86%, rgba(175,129,102,0) 100%);
 }

  .button{
    transition: 0.3s;
    margin-left: 30px;
    display: inline-block;  
    background-image: url("button-style.png");
    width: 136px;
    height: 45px;
  }

.button-inner{
    outline: none;
    box-sizing: border-box;
    width: 136px;
    height: 45px;
    background-color: rgba(255,255,255,0);
    border-style: none;
    color: rgb(197, 120, 32);
}
.button:hover{
  transition: 0.2s;
  background-image: url("button-style-hover.png");
}
.button:active{
  background-image: url("button-style-activ.png");
}
