*{
    margin: 0;
}
body{
    background-image: url("https://66.media.tumblr.com/bda991956401f7135565097b7651c4e3/tumblr_ouztgbH0CG1vj8v9mo2_1280.png");
    
}
.header{
    display: flex;
    padding-top: 10px;
    padding-bottom: 20px;
   }

img{
    margin: auto;
    width: 30vw;
}
.settings{
    height: 250px;
    background: rgba(75,89,58,0.4);    
    border-radius: 66px;
    font-size: 24px;

}
