@import url(https://fonts.googleapis.com/css?family=Arimo:400,400italic|Playfair+Display+SC:400,700&subset=latin,cyrillic);

*{
    margin: 0;
    display: inline-block;
}
title{
  display: none;
}
body{
    background-image: url("body_back.jpg");  
}

.settings_back{
  width: 100vw;
  height: 68vh;
  box-sizing: border-box; 
  background-image: url("dndback1.png");
  font-size: 24px;
  background-size: cover;
  align-items: center;
  margin-top: -20px;
}
h3{
  line-height: 50px;
  color: #3b2301;
  text-align: center;
  display: flex;
  justify-content: center;
}

.header{
    display: flex;
    justify-content: center;
   }
img{
  margin: 20px;
    width: 30vw;
}
.settings{
  display: block;
  box-sizing: border-box;
  width: 70vw;
  height: 50vh;
  margin: auto;
  padding: 3vh 2vw;
  background-color: #EBDBC4;
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(0,0,0,1); /* Параметры тени */

}
.menu_text{
  font-family: 'Playfair Display SC', sans-serif;
  font-weight: 700;
  letter-spacing: 0.3px;
  font-size: 15px;
  color: #fedcbd;
  text-align: center;
}
 

#text{
  position: absolute;
  display: block;
  top: 0;
  padding-left: 10px;
}

.back{
  border:2px solid #5B3602;
  box-sizing:  content-box;
  background-color: #0f0c03;
  align-self: auto;
}

.formbord-input {
  outline: none;
  padding-left: 15px;
  border-style: none;
  width: 40vw;
  height: 40px;
  min-width: 250px;
  text-align: left;
  box-shadow: 1px 2px 10px #3b2301;
  }
.formbord-input:hover{
  background-color: black;
}
.formbord-input:focus{
  background: #110C01;
}


.button{
  transition: 0.3s;
  margin-top: 30px;
  display: block;  
  background-image: url("button-style.png");
  width: 136px;
  height: 45px;
}

.button-inner{
  outline: none;
  box-sizing: border-box;
  width: 136px;
  height: 45px;
  background-color: transparent;
  border-style: none;
  color: rgb(197, 120, 32);
}

.button:hover{
  transition: 0.1s;
  background-image: url("button-style-hover.png");
}

.button:hover h2{
color: #F9A839;
}
.button:active{
  background-image: url("button-style-activ.png");
  
}
.button:active h2{
color: #9A7541;
}


.scroles{
  width: 600px;
  display: block;
}

.dndclass{
  position: relative;
margin-top: 35px;
  box-shadow: 1px 2px 10px #3b2301; 

}

.dndclass::before{
  content: "\f103";
  font-family: FontAwesome;
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
  text-align: center;
  font-size: 28px;
  line-height: 45px;
  pointer-events: none;
  border-left: 2px solid #5B3602;
  opacity: 0.6;

}
.dndclass select{
  border: none;
  padding-left: 12px;
  box-sizing: content-box;
  width:  220px;
  height: 42px;
   -webkit-appearance: none;
   -moz-appearance:    none;
  appearance:         none; 
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.5);
  background: none;
  cursor: pointer;  

}

.dndclass:hover::before{
  transition: 0.4s;
  opacity: 1;
  background-color: rgba(175,129,102,0.3);
  color: rgb(197, 120, 32);
}

.dndclass select:focus{
  outline: none;
  background-color: #110C01;
}

.comp_block{
  margin-top: 35px;
  width: 440px;
  border: 3px solid #0f0c03;
  border-radius: 20px;
  box-shadow: inset 0 0 30px #FAFFD9;
}

.comp_button {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

input[type=radio]{
  display: none;
}

input[type=radio]+label{
  background-color: #0f0c03;
  border-radius: 10px;
  font-size: 16px;
  width: 140px;
  position: relative;
  display: inline-block;
  text-align: center;
  line-height: 50px;
  box-sizing:content-box;
  border: 1px solid #5B3602;
  transition: 0.3s;
  box-shadow: 2px 2px 10px #3b2301;
  margin: auto;
}

input[type=radio]:checked + label, label:checked{
color: #EA9900  !important;
}

input[type=radio]+label:after{
	content: "";
	display: inline-block;
	width: 100%;
	height: 100%;    
	position: absolute;
	top: 0;    
	left: 0;   
	background: transparent;
 background: -moz-linear-gradient(top, rgba(175,129,102,0.3) 0%, rgba(50,45,42,0.3) 15%, rgba(50,45,42,0.3) 25%, rgba(50,45,42,0.3) 79%, rgba(50,45,42,0.3) 86%, rgba(175,129,102,0.3) 100%);
 background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(175,129,102,0.9)), color-stop(25%, rgba(50,45,42,0.3)), color-stop(75%, rgba(50,45,42,0.0)),  color-stop(100%, rgba(175,129,102,0.9)));
 background: -webkit-linear-gradient(top, rgba(175,129,102,0.9) 0%,  rgba(50,45,42,0) 25%, rgba(50,45,42,0) 75%, rgba(175,129,102,0.9) 100%);
background: -o-linear-gradient(top, rgba(175,129,102,0.9) 0%,  rgba(50,45,42,0) 25%, rgba(50,45,42,0) 75%, rgba(175,129,102,0.9) 100%);
background: -ms-linear-gradient(top, rgba(175,129,102,0.9) 0%,  rgba(50,45,42,0) 25%, rgba(50,45,42,0) 75%, rgba(175,129,102,0.9) 100%);
background: linear-gradient(to bottom, rgba(175,129,102,0.9) 0%,  15%, rgba(50,45,42,0) 25%,  rgba(50,45,42,0) 75%, rgba(175,129,102,0.9) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#af8166', endColorstr='#af8166', GradientType=0 );   
border-radius: 10px;
transition: opacity 0.3s ease-in-out;
opacity: 0.3;
}

input[type=radio]:hover+label{
color:  rgb(197, 120, 32);
}

input[type=radio]:hover+label:after, input[type=radio]:checked+label:after{
opacity: 0.7;
}

input[type=radio]:active +label, input[type=radio]:active+label:after{
color: wheat;
opacity: 1;
transition: 0.1s;
}


.comp_selector {
  display: flex;
  justify-content: center;
  margin-top: 35px;
  margin-bottom: 15px;
}

.comp_i{
  display: none;
}
.comp_i + label{
position: relative;
padding: 0 0 0 40px;
cursor: pointer;
font-size: 30px;
}
.comp_i + label:before{
  content: '';
  background-color: aqua;
  top: 1px;
  left: 1px;
  width: 30px;
  height: 30px;
  position: absolute;
  background-color: #cfb082;
  border: solid #110C01 1px;
  border-radius: 3px;
  box-shadow: inset 0 2px 3px #3b2301;
  transition: .2s;
}

.comp_i + label:after {
	content: url(cross.svg);
	position: absolute;
 top: 3px;
	left: 4px;
 opacity: 0;
 transition: .2s;
}

.comp_i:hover + label:before{
box-shadow: inset 0 5px 5px #3b2301;
}

.comp_i:checked + label:after{
 opacity: 1;
}

.comp_i:checked:hover + label:after{
 opacity: 0.5;
}


.comp {
  padding-top: 10px;
  margin:5px;
}



.gradient{
  background: -moz-linear-gradient(top, rgba(175,129,102,0.3) 0%, rgba(50,45,42,0.3) 15%, rgba(50,45,42,0.3) 25%, rgba(50,45,42,0.3) 79%, rgba(50,45,42,0.3) 86%, rgba(175,129,102,0.3) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(175,129,102,0.3)), color-stop(15%, rgba(50,45,42,0.3)), color-stop(25%, rgba(50,45,42,0.3)), color-stop(79%, rgba(50,45,42,0.7)), color-stop(86%, rgba(50,45,42,0.7)), color-stop(100%, rgba(175,129,102,0.7)));
  background: -webkit-linear-gradient(top, rgba(175,129,102,0.3) 0%, rgba(50,45,42,0.3) 15%, rgba(50,45,42,0.3) 25%, rgba(50,45,42,0.3) 79%, rgba(50,45,42,0.3) 86%, rgba(175,129,102,0.3) 100%);
  background: -o-linear-gradient(top, rgba(175,129,102,0.3) 0%, rgba(50,45,42,0.3) 15%, rgba(50,45,42,0.3) 25%, rgba(50,45,42,0.3) 79%, rgba(50,45,42,0.3) 86%, rgba(175,129,102,0.3) 100%);
  background: -ms-linear-gradient(top, rgba(175,129,102,0.3) 0%, rgba(50,45,42,0.3) 15%, rgba(50,45,42,0.3) 25%, rgba(50,45,42,0.3) 79%, rgba(50,45,42,0.3) 86%, rgba(175,129,102,0.3) 100%);
  background: linear-gradient(to bottom, rgba(175,129,102,0.9) 0%, rgba(50,45,42,0.3) 15%, rgba(50,45,42,0.3) 25%, rgba(50,45,42,0.3) 79%, rgba(50,45,42,0.3) 86%, rgba(175,129,102,0.9) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#af8166', endColorstr='#af8166', GradientType=0 );  
}